@import '../../number/em';

.em {
  width: em(2.4);
}

@import '../../number/pow';

.pow {
  line-height: pow(1.2, 4);
}

@import '../../number/unitless';

.unitless {
  line-height: unitless(1.5em);
}
