.adjust-rgb {
  color: #333333; }

.blend-normal {
  color: #cccccc; }

.encode-color-hex {
  content: "%23fc0"; }

.encode-color-func {
  content: "rgba(255%2C255%2C255%2C0.5)"; }

.mixxd {
  color: #cccccc; }

.tint {
  color: #333333; }

.shade {
  color: #cccccc; }
